# LINE Credentials
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# LIFF
NEXT_PUBLIC_LIFF_ID=
NEXT_PUBLIC_LIFF_PROFILE_ID=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_url_supabase
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# App Base URL (for LIFF redirects and message links)
NEXT_PUBLIC_BASE_URL=

# Rich Menu Setup Protection (set any random secret)
SETUP_SECRET_KEY=your_random_secret_here
